@import 'tailwindcss';

#test_website_results {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  button {
    font-size: 1rem;

  }

  button:hover {
    background-color: var(--color-red-300);
    color: black
  }
}
